
PasswordManager_backend/.DS_Store
.idea
node_modules/
.DS_Store
PasswordManager_backend/PasswordManager_Main/bin/
PasswordManager_backend/PasswordManager_Main/obj/
PasswordManager_backend/PasswordManager_Rest/bin/
PasswordManager_backend/PasswordManager_Rest/obj/
PasswordManager_backend/PasswordManager_Security/bin/
PasswordManager_backend/PasswordManager_Security/obj/
