.container {
  background: gray;
  display: flex;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  margin-inline: auto;
  margin-top: 50px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

button {
  white-space: nowrap;
  background-color: black;
  color: white;
}
