.unitTitle{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin:2%;
}


.unit-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    color: white;
    align-items: center;
}


.addUnit{
    color: white;
    margin-bottom: 2%;
}

.buttonEdit{

    background-color: rgb(48, 128, 48);
    color: white;
    margin-bottom: 5%;
}

.buttonDelete{
    background-color: rgb(211, 98, 98);
    color: white;
    margin-bottom: 5%;

}

button {
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #333;
    color: #fff;
  }
  

.buttonOne{
    background-color: rgb(43, 43, 219);
    color: white;
    margin-bottom: 5%;
  }