.container {
  background: gray;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  margin-inline: auto;
  margin-top: 50px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

button {
  white-space: nowrap;
  background-color: black;
  color: white;
}

.unit-item {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-block: 10px;
}

.add-unit {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
