<div *ngIf="showPage === true ">


<h2 class="unitTitle">Units</h2>
<mat-card class="unit-card">
  <mat-card-title class="addUnit">Add Unit</mat-card-title>
  <mat-card-content>
    <form class="form">
      <mat-form-field>
        <input matInput type="text" placeholder="Website" [(ngModel)]="website"  name="website">

      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="webpageUsername" name="webpageUsername" placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password"  name="password">
        <button mat-icon-button color="primary" matTooltip="Generate Password" (click)="generatePassword()">
          <mat-icon>lock</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" class="buttonOne"(click)="addUnit()">Create</button>
    <button mat-raised-button color="primary" type="button" class="buttonOne"(click)="clearUnit()">Clear</button>
    <button mat-raised-button color="primary" type="button" class="buttonOne"(click)="showUnits()">Show Units</button>
    <button mat-raised-button color="primary" type="button" class="buttonOne"(click)="hideUnits()">Hide Units</button>
    <button mat-raised-button color="primary" type="button" class="buttonOne"(click)="logout()">Logout</button>
  </mat-card-actions>
</mat-card>

<div fxLayout="row wrap" fxLayoutGap="16px">
  <mat-card class="unit-card" *ngFor="let news of res">
    <mat-card-title>{{ news.website }}</mat-card-title>
    <mat-card-content>
      <p><strong>Username:</strong> {{news.username}}</p>
      <input matInput type="text" [(ngModel)]="news.username" name="webpageUsername" placeholder="Username/Email">
      <p><strong>Password:</strong> {{ news.password }}</p>
      <input matInput type="text" placeholder="Password" [(ngModel)]="news.password"  name="password">
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="buttonEdit" (click)="editUnit(news)">Edit</button>
      <button mat-raised-button color="warn"  class="buttonDelete"(click)="deleteUnit(news)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

</div>

