<section *ngIf="showPage" class="container">
  <h2>Saved credentials</h2>
  <div class="add-unit">
    <div>Add new credentials</div>
    <div>
      <form>
        <div>
          <label>Website</label>
          <input type="text" [(ngModel)]="website" name="website" placeholder="Website">
        </div>
        <div>
          <label>Username</label>
          <input type="text" [(ngModel)]="webpageUsername" name="webpageUsername" placeholder="Username">
        </div>
        <div>
          <label>Password</label>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
          <button type="button" (click)="generatePassword()">Generate Password</button>
        </div>
      </form>
    </div>
    <div>
      <button type="button" class="custom-button" (click)="addUnit()">Create</button>
      <button type="button" class="custom-button" (click)="clearUnit()">Clear</button>
      <button type="button" class="custom-button" (click)="showUnits()">Show Units</button>
      <button type="button" class="custom-button" (click)="hideUnits()">Hide Units</button>
      <button type="button" class="custom-button" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="custom-unit-list">
    <div *ngFor="let news of res" class="unit-item">
      <div>{{ news.website }}</div>
      <div>
        <p><strong>Username:</strong> {{ news.username }}</p>
        <input type="text" [(ngModel)]="news.username" name="webpageUsername" placeholder="Username/Email">
        <p><strong>Password:</strong> {{ news.password }}</p>
        <input type="text" [(ngModel)]="news.password" name="password" placeholder="Password">
      </div>
      <div>
        <button type="button" class="custom-button" (click)="editUnit(news)">Edit</button>
        <button type="button" class="custom-button" (click)="deleteUnit(news)">Delete</button>
      </div>
    </div>
  </div>
</section>
